<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}visualculture.less">
        <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script src="{{ STATIC_URL }}js/less-1.2.1.min.js?123"></script>
<!--         <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script> -->
<!--         <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script> -->
    </head>
    <body>
        {% block header %}
        <div id="home-infos">
        What is that? Some says that those snapshots are to our work what the
	pictures of a cookbook are to the cooked meal. source files = ingredients. These
	arrangements of blocks of text and pictures tries harder to depict the most
	current projects, some interesting visual extracts and the source files that
	provide a convenient way to access to study it, change it, to redistribute
	copies of it, to improve it and release your improvements (and modified versions
	in general). Nous sommes embarqués.
	<a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
        </div>
        {% endblock %}

        <div id="active-projects">

        <!-- Main body follows:-->
{% block content %}{% endblock %}

        </div>

        {% block menu %}
        <!-- Menu navigation-->
<!--         <div id="menu-wrapper"> -->
            <ul id="menu">
                <li><a href="/work/">Works</a></li>
                <li><a href="http://osp.constantvzw.org/foundry/">Foundry</a></li>
                <li><a href="/workshop/">Workshops</a></li>
                <li><a href="/tools/">Tools</a></li>
                <li><a href="http://osp.constantvzw.org/blog/">Blog</a></li>
                <li><a href="http://osp.constantvzw.org/images/">Images</a></li>
                <li><a href="http://osp.constantvzw.org/about">About</a></li>
                <li><a href="http://osp.constantvzw.org/contact">Contact</a></li>
                <li>
                    <object data="{{ STATIC_URL }}img/OSP_new-frog.svg" style="width:59px;height:67px;" type="image/svg+xml">
                        <img alt="A stylised image of a frog." style="width:59px;height:67px;" src="{{ STATIC_URL }}img/OSP_new-frog.png">
                    </object>
                    <a href="/">OSP,</a>
                    <p id="baseline">Graphic design caravan</p>
                </li>
            </ul>
<!--         </div> -->
       {% endblock %}
        
{% block footer %}{% endblock %}
    </body>
</html>
