{% extends 'base.html' %}
{% block header %}
<h1>{{ category|title }}</h1>
<div id="home-infos">
Some other stuffs that ends up here. We do not know why, but it's all right, we still warmly welcome you to 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a> 
them, 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> 
them, to 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a> 
of them and 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a> 
(or alien versions as you like).
<a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
</div>
{% endblock %}

{% block content %}
<div id="active-projects">
    {% for repo in repos %}
    <div class="project">
        <p class="project-type">{{ repo.category }}</p>

        <h2 class="project-title">
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
        </h2>

        <div class="iceberg">
            {% for ice in repo.iceberg reversed %}
                <a href="{{ repo.web_path }}">
                <img class="{% if forloop.first %}iceberg-pict-big{% else %}iceberg-pict{% endif %}" src="{{vc_url}}{{ repo.slug }}/{{ice.hex}}?width=200">
            </a>
            {% endfor %}
        </div>

        <p class="project-source"><a href="{{ repo.web_path }}">Source files</a></p>
        
    </div>
    {% endfor %}

</div>
{% endblock %}
