{% extends 'category.html' %}

{% block header %}
<h1>{{ category|title }}</h1>
<div id="home-infos">
Most of our practice of cooking are currently works. For each of them, we progressively pile up elements in a directory 
called iceberg, these are the things you see at the left side. The messages are the one we provide when we commit each 
bunch of files at the different atomic stages of the project. On the right, the actual directories and files are waiting 
for your curiosity. We warmly welcome you to 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a> 
them, 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> 
them, to 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a> 
of them and 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a> 
(or experimental versions as you like).
<a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
</div>
{% endblock %}