{% extends 'base.html' %}
{% block header %}
<h1>{{ category|title }}</h1>
{% endblock %}

{% block content %}
<div id="active-projects">
    {% for repo in repos %}
    <div class="project">
        <p class="project-type">{{ repo.category }}</p>

        <h2 class="project-title">
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
        </h2>

        <div class="iceberg">
            {% for ice in repo.iceberg reversed %}
                <a href="{{ repo.web_path }}">
                <img class="{% if forloop.first %}iceberg-pict-big{% else %}iceberg-pict{% endif %}" src="{{vc_url}}{{ repo.slug }}/{{ice.hex}}?width=200">
            </a>
            {% endfor %}
        </div>

        <p class="project-source"><a href="{{ repo.web_path }}">Source files</a></p>
        
    </div>
    {% endfor %}

</div>
{% endblock %}
