We have all learned all this. We are even learning it more and more. We learn it from different starting points 
(we are switchers and non-switchers). As we are ourselves in a learning process, we care a lot about learning. 
We do workshops to experiment things that we haven't tried before. It's always a bit terrifying. But we do 
not see other ways to do it. We do not focus on results or outcomes but more on processes. We warmly welcome you to 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a> 
them, 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> 
them, to 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a> 
of them and 
<a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a> 
(or funky versions as you like).
<a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
