{% extends 'base.html' %}

{% block content %}
<div id="active-projects">
    <script>
    // $('#active-projects').masonry({
    //   itemSelector: '.project'
    // });
    </script>

    {% for repo in repos %}
    <div class="project">
        <p class="project-type">{{ repo.category }}</p>

        <h2 class="project-title">
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
        </h2>

        <div class="iceberg">
            {% for ice in repo.iceberg reversed %}
                <a href="/{{ repo.category }}/{{ repo.name }}/tree/master/iceberg/{{ ice.name }}">
                    <a rel="embed" href="{{vc_url}}{{ repo.slug }}/{{ice.hex}}?width=200">
                        <img src="http://localhost:8000/static/img/OSP_new-frog.png" />
                    </a>
            </a>
            {% endfor %}
        </div>

        <p class="project-source"><a href="{{ repo.web_path }}">Source files</a></p>

        {% include "commit-list.html" %}
        
    </div>
    {% endfor %}

</div>
{% endblock %}
