{% extends "base.html" %}

{% block navigation %}
        <!-- Header and options when showing a repository -->
        <!-- Navigate through the repository -->
        <ul class="breadcrumb">
                        {% for breadcrumb in breadcrumbs %}
                        {% if not forloop.last %}
                        <li>
                            <a href="{{ breadcrumb.href }}">{{ breadcrumb.name }}</a> <span class="divider">/</span>
                        </li>
                        {% else %}
                        <li class="active">
                           {{ breadcrumb.name }} {% if tree %}<span class="divider">/</span>{% endif %}
                        </li>
                        {% endif %}
                        {% endfor %}
        </ul>
        <!-- Showing the HEAD-->
        {% comment %}
            <div class="commit-list">
                <ul>
                    <li class="commit" >
                        <p class="commit-id">
                            {{ repo.commits.0.id }} 
                        </p>
                        <p>
                            <span class="commit-author">{{ repo.commits.0.author }}</span> <span class="commit-author-said">said</span>
                        </p>
                        <p class="commit-message">
                            <a href="#">{{ repo.commits.0.message }}</a>
                        </p>
                        <p class="commit-date">
                            {{ repo.commits.0.commit_time }}
                        </p>
                    </li>
                </ul>
            </div>
        {% endcomment %}
{% endblock %}

{% block content %}
<div id="project-detail">

    <div id="project-detail-head">
        <h1>{{ repo.name }}</h1>
        <a class="git-clone" data-toggle="modal" href="#cloneModal" >Git Clone</a>
        <p class="project-description-from-the-readme">Maybe more a web publication than a website. Danslab is a practice based research initiative in The Hague that encourages 
        a network for the artist’s development and exchange, as well builds on a centre for knowledge of artistic research, dance and choreography.</p>
    </div>

    <div id="project-detail-body">
        <div class="iceberg">
            {% for ice in repo.iceberg.files reversed %}
                <a href="/{{ repo.category }}/{{ repo.name }}/tree/master/iceberg/{{ ice.name }}">
                    <img src="{{vc_url}}{{ repo.slug }}/{{ice.hex}}?width=200">
                </a>
            {% endfor %}
        </div>

        {% include "commit-list.html" %}

        {% block vc_content %}
        {% endblock %}
    </div>

</div>
{% endblock %}

{% block footer %}
        <!-- This is shown when you click Git Clone-->
        <div class="modal hide" id="cloneModal">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h3>Clone the git repository</h3>
            </div>
            <div class="modal-body">
                <p>The public git address for this repo is:</p>
                <pre>git://git.constantvzw.org/{{ repo.slug }}.git</pre>
                <p>to clone it, in the terminal type:</p>
                <pre>git clone git://git.constantvzw.org/{{ repo.slug }}.git</pre>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
{% endblock %}
