{% extends "project_base.html" %}

{% block vc_content%}
<ul class="thumbnails">
{% for dir in tree.dirs %}
    <li class="span2">
        <div class="thumbnail folder">
            <div class="thumb">
                <a href="{{ dir.href }}">
                <img src="{{ STATIC_URL }}img/folder-130.png" alt="representation of a folder" title="" style="height:104px;width:130px;" />
            </a>
            </div>
            <h5>{{ dir.name }}</h5>
        </div>
    </li>
{% endfor %}
{% for file in tree.files %}
    <li class="span2">
        <div class="thumbnail preview">
            <div class="thumb">
            <a href="{{ file.href }}">
                <img src="{{vc_url}}{{ repo.slug }}/{{file.hex}}?width=140" />
            </a>
            </div>
            <h5>{{ file.name }}</h5>
            <p>{{ file.mime }}</p>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
