.thumbnail {
    height: 190px;
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

div.thumbnail div.thumb {
    height: 130px;
    overflow: hidden;
}

div.thumbnail.text div.thumb {
    height: 114px;
    padding: 8px 14px 8px 8px;
    background-image: url(/img/file-130.png);
}

div.thumbnail pre {
    border: none;
    background: none;
}