<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		    <meta name="viewport" content="initial-scale=1">
        <title>OSP (Open Source Publishing) → {{ title }}</title>
{% load compress %}
{% if COMPRESS_ENABLED %}
{% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/visualculture.less">
{% endcompress %}
{% else %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/visualculture.less">
        <script src="{{ STATIC_URL }}js/less-1.2.1.min.js"></script>
{% endif%}
        <link rel="stylesheet" href="{{ STATIC_URL }}js/fancyBox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}js/fancyBox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/fancyBox/source/helpers/jquery.facybox-buttons.js"></script>
{% block extrahead %}

{% endblock %}
    </head>
    <body>
        {% block menu %}
        <!-- Menu navigation-->
        <div id="menu-wrapper">
            {% include "partials/reg-nav.html" %}
        </div>

       {% endblock %}


    {% block body %}
        {% block header %}
        {% endblock %}

        {% block navigation %}{% endblock %}


        <!-- Main body follows:-->
        {% block content %}{% endblock %}



        {% block footer %}{% endblock %}
    {% endblock %}

    {% block js %}
    {% compress js %}
            <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
            <script src="{{ STATIC_URL }}js/FeedEk.js"></script>
            <script src="{{ STATIC_URL }}js/moment.locales.min.js"></script>
            <!--<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>-->
            <!--<script>-->
            <!--$(window).load(function() {-->
                <!--$('#active-projects').masonry({-->
                    <!--itemSelector: '.project',-->
                    <!--isFitWidth: true,-->
                    <!--columnWidth: 290-->
                <!--});-->
            <!--});-->
            <!--</script>-->
    {% endcompress %}
    <script src="{{ STATIC_URL }}osp/js/osp.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
    <script>
    jQuery(document).ready(VC.annotations.init());
    </script>
    <script type="text/javascript">
    $('#on-the-table-feed').FeedEk({
    FeedUrl : 'http://ospublish.constantvzw.org/blog/feed',
    MaxCount : 3,
    ShowDesc :false,
    ShowPubDate:true,
    DateFormat: 'dddd, Do MMMM YYYY - hh:mm',
    DateFormatLang: 'en'
  });
    </script>


        <!--Script to show/hide layers of different content at the time when the-->
        <!--website was made of overlapping layers-->
        <!--
        <script>
            function onTop(){
                $(this).css("z-index", "100");
            };
            function resetLayers(){
                $("#project-detail-files").css("z-index", "10");
                $("#project-detail-iceberg").css("z-index", "20");
                $("#project-detail-commits").css("z-index", "30");
                $("#project-detail-about").css("z-index", "40");
            }
            function showLayer(section){
                $("#project-nav-" + section).click(function(e){
                    e.preventDefault();
                    resetLayers();
                    $("#project-detail-" + section).css("z-index", "100");
                });
                $("#project-detail-" + section).hoverIntent({
                    over: onTop,
                    out: resetLayers
                });

            }
            $(document).ready(function(){
                showLayer("about");
                showLayer("iceberg");
                showLayer("commits");
                showLayer("files");
                if ($("#blob, #tree:not(.root)").length > 0) {
                	/* If we are looking at a blob/file, or a tree/folder with files
                	 * we want the layer with the file(s) to appear on top.
                	 *
                	 * Except if we’re looking at the root folder:
                	 * in this case the README is shown on top as usual.
                	 */
                    $("#project-detail-files").css("z-index", "100");
                }
            });
        </script>
        -->

        <script type="text/javascript">
        $(document).ready(function() {
        	$(".fancybox").fancybox({
        		openEffect	: 'none',
        		closeEffect	: 'none'
        	});
        });
</script>

    {% endblock %}
    </body>
</html>
