<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>OSP (Open Source Publishing) → {{ title }}</title>
{% load compress %}
{% if COMPRESS_ENABLED %}
{% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/visualculture.less">
{% endcompress %}
{% else %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/visualculture.less">
        <script src="{{ STATIC_URL }}js/less-1.2.1.min.js"></script>
{% endif%}
{% block extrahead %}

{% endblock %}
    </head>
    <body>
        {% block menu %}
        <!-- Menu navigation-->
        <div id="menu-wrapper">
            {% include "partials/nav.html" %}
        </div>

        <div id="frog-me">
            <a href="http://osp.constantvzw.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ STATIC_URL }}img/ribbon-osp.png" alt="Frog me on GitOsp"></a>
        </div>
       {% endblock %}


    {% block body %}
        {% block header %}
        {% endblock %}

        {% block navigation %}{% endblock %}


        <!-- Main body follows:-->
        {% block content %}{% endblock %}


        
        {% block footer %}{% endblock %}
    {% endblock %}

    {% block js %}
    {% compress js %}
            <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
            <!--<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>-->
            <!--<script>-->
            <!--$(window).load(function() {-->
                <!--$('#active-projects').masonry({-->
                    <!--itemSelector: '.project',-->
                    <!--isFitWidth: true,-->
                    <!--columnWidth: 290-->
                <!--});-->
            <!--});-->
            <!--</script>-->
    {% endcompress %}
    <script src="{{ STATIC_URL }}osp/js/osp.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.hoverIntent.minified.js"></script>
    <script>
    jQuery(document).ready(VC.annotations.init());
    </script>


        <script>
            function onTop(){
                $(this).css("z-index", "100");
            };
            function resetLayers(){
                $("#project-detail-files").css("z-index", "10");
                $("#project-detail-iceberg").css("z-index", "20");
                $("#project-detail-commits").css("z-index", "30");
                $("#project-detail-about").css("z-index", "40");
            }
            function showLayer(section){
                $("#project-nav-" + section).click(function(e){
                    e.preventDefault();
                    resetLayers();
                    $("#project-detail-" + section).css("z-index", "100");
                });
                $("#project-detail-" + section).hoverIntent({
                    over: onTop,
                    out: resetLayers
                });

            }
            $(document).ready(function(){
                showLayer("about");
                showLayer("iceberg");
                showLayer("commits");
                showLayer("files");
                if ($("#blob").length > 0) {
                    $("#project-detail-files").css("z-index", "100");
                }
            });
        </script>

    {% endblock %}
    </body>
</html>
