<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>OSP (Open Source Publishing) → {{ title }}</title>
{% load compress %}
{% if COMPRESS_ENABLED %}
{% compress css %}
        <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}/less/visualculture.less">
{% endcompress %}
{% else %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}/less/visualculture.less">
        <script src="{{ STATIC_URL }}js/less-1.2.1.min.js"></script>
{% endif%}
{% block extrahead %}

{% endblock %}
    </head>
    <body>
    {% block body %}
        {% block header %}
        <div id="home-infos">
        What is that? Some says that those snapshots are to our work what the pictures of a cookbook are to the cooked meal. 
        Source files = ingredients. These arrangements of blocks of text and pictures try harder to depict the most current 
        projects, their narratives, some selected visuals and the source files of everything. We warmly welcome you to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a> 
        them, <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> them, to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a> 
        of them and <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a> (or unstable versions as you like). 
	Nous sommes embarqués.
	<a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
        </div>
        {% endblock %}

{% block navigation %}{% endblock %}


        <!-- Main body follows:-->
        {% block content %}{% endblock %}


        {% block menu %}
        <!-- Menu navigation-->
            <div id="menu-wrapper">
{% include "partials/nav.html" %}
            </div>

<div>
<a href="http://osp.constantvzw.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="{{ STATIC_URL }}img/ribbon-osp.png" alt="Frog me on GitOsp"></a>
</div>


       {% endblock %}
        
{% block footer %}{% endblock %}
    {% endblock %}

    {% block js %}
    {% compress js %}
            <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
            <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
            <!--<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>-->
            <!--<script>-->
            <!--$(window).load(function() {-->
                <!--$('#active-projects').masonry({-->
                    <!--itemSelector: '.project',-->
                    <!--isFitWidth: true,-->
                    <!--columnWidth: 290-->
                <!--});-->
            <!--});-->
            <!--</script>-->
    {% endcompress %}
    <script src="{{ STATIC_URL }}osp/js/osp.js"></script>
    <script>
    jQuery(document).ready(VC.annotations.init());
    </script>
    {% endblock %}
    </body>
</html>
