{% extends 'base.html' %}
{% block header %}
<h1>{{ category|title }}</h1>
    <div id="home-infos">
    {% if category == "tools" %}
        {% include "header_tools.html" %}
    {% elif category == "workshop" %}
        {% include "header_workshop.html" %}
    {% elif category == "work" %}
        {% include "header_work.html" %}
    {% else %}
        {% include "header_default.html" %}
    {% endif %}
        <a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
    </div>
{% endblock %}

{% block content %}
<div id="active-projects">
    {% for repo in repos %}
    <div class="project">
        <h2 class="project-title">
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
        </h2>

        <div class="iceberg">
            <a href="/{{ repo.category }}/{{ repo.name }}/tree/master/iceberg/{{ repo.iceberg.0.name }}">
                {% if 'image/' in repo.iceberg.0.mime and not 'svg' in repo.iceberg.0.mime or repo.iceberg.0.mime == 'application/pdf' %}
                <img src="/visual/{{ repo.slug }}/{{ repo.iceberg.0.hex }}/width..200/{{ repo.iceberg.0.name }}.png"/>
                {% else %}
                <img src="/static/img/OSP_new-frog.png" />
                {% endif %}
            </a>
        </div>
        
    </div>
    {% endfor %}

</div>
{% endblock %}
