{% extends 'category.html' %}
{% block header %}
<h1>{{ category|title }}</h1>
<div id="home-infos">
    We have all learned all this. We are even learning it more and more. We learn it from different starting points
    (we are switchers and non-switchers). As we are ourselves in a learning process, we care a lot about learning.
    We do workshops to experiment things that we haven't tried before. It's always a bit terrifying. But we do
    not see other ways to do it. We do not focus on results or outcomes but more on processes.
</div>
{% endblock %}
