{% extends 'base.html' %}
{% block header %}
<h1>{{ category|title }}</h1>
    <div id="home-infos">
      Some other stuffs that ends up here. We do not know why, but it's all right, we still warmly welcome you to
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a>
      them,
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a>
      them, to
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a>
      of them and
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a>
      (or alien versions as you like).
        <a href="http://osp.constantvzw.org/about">Read more about the way we work → </a>
    </div>
{% endblock %}

{% block content %}
<div id="active-projects">
    {% for repo in repos %}
    <div class="project">
        <h2 class="project-title">
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
        </h2>

        <div class="iceberg">
            <a href="/{{ repo.category }}/{{ repo.name }}/">
                {% if 'image/' in repo.iceberg.0.mime and not 'svg' in repo.iceberg.0.mime or repo.iceberg.0.mime == 'application/pdf' %}
                <img src="/visual/{{ repo.slug }}/{{ repo.iceberg.0.hex }}/width..200/{{ repo.iceberg.0.name }}.png"/>
                {% else %}
                <img src="/static/img/OSP_new-frog.png" />
                {% endif %}
            </a>
        </div>
        {% include "commit-list.html" %}
        <div class="gradient-to-more">
          <a href="{{ repo.web_path }}" class="see-more">see more</a>
        </div>

    </div>
    {% endfor %}

</div>
{% endblock %}
