{% extends 'category.html' %}
{% block header %}
<h1>{{ category|title }}</h1>
    <div id="home-infos">
      The tools we use shape our practices. The practices we have shape our tools. This website
      itself is one of them. We warmly welcome you to
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a>
      them,
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a>
      them, to
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a>
      of them and
      <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a>
      (or skeumorphed versions as you like).
      <a href="http://osp.kitchen/about">Read more about the way we work → </a>
  </div>
{% endblock %}
