<div class="commit-list">
    {% for commit in repo.commits %}
        <div class='ellipse' style='height: {{ commit.ellipse }}px;'>&nbsp;</div>
        <div class='commit' data-date="{{ commit.commit_time|date:"c" }}">
            <p><span class='commit-author'>{{ commit.author }}</span><span class='commit-author-said'>{{ said|random }}</span></p>
            <div class='commit-spacer'>
            </div>
            <p class='commit-message'>&mdash; {{ commit.message|urlize|linebreaksbr }}</p>
            <p class='commit-date'>{{ commit.commit_time|date:"l, jS F Y - H:i" }}</p>
        </div>
    {% endfor %}
</div>
