{% extends 'base.html' %}

{% block content %}
<div id="project-detail">
<h2>Selected collaborators/clients</h2>

<ul>
<li>Atelier de Création Sonore</li>
<li>Leuven University</li>
<li>Sarma</li>
<li>Danslab</li>
<li>Pieter Van Bogaert</li>
<li>Constant VZW</li>
<li>Myriam Pruvot & Sandra Émonet</li>
<li>Tuned City</li>
<li>Theatre La Balsamine</li>
<li>Waerbeke VZW</li>
<li>404</li>
<li>Aether9</li>
<li>Piet Zwart Instituut</li>
<li>Radio Panik</li>
<li>Netwerk</li>
<li>Libre Graphics Meeting</li>
<li>Bibliothèque Publique d'information de Paris</li>
<li>La Mediatheque</li>
<li>Donna</li>
<li>PTIT FAYSTIVAL</li>
<li>GenderArtNet</li>
<li>Circular Facts</li>
</ul>

<h2>Workshops</h2>

<h3>2013</h3>

<dl>
<dt>May 27-31</dt>
<dd>Festival international de l'affiche et du graphisme</dd>
</dl>

<h3>2012</h3>

<dl>
<dt>Academic Season 2012/2013</dt>
<dd>Invited designers at the ESAD Valence Grenoble</dd>

<dt>May 16-20</dt>
<dd>Merz Akademie, Stuttgart</dd>

<dt>May 3-4</dt>
<dd>ESAD Valence Grenoble</dd>
</dl>

<h3>2011</h3>

<dl>
<dt>5 and 6 december</dt>
<dd>Piet Zwart Institute, Rotterdam</dd>

<dt>April 3-15</dt>
<dd>Open Design Weeks Vietnam</dd>

<dt>March 8-10</dt>
<dd>Royal College of Art, London</dd>
</dl>

<h2>Lectures

<h3>2012</h3>

<dl>
<dt>September 9</dt>
<dd>Let’s talk about graphic design, Mad Brussels</dd>
</dl>

<h3>2011</h3>

<dl>
<dt>November 18</dt>
<dd>Designblast, HFG Karlshruhe</dd>
</dl>

<h2>Performances</h2>

<h3>2013</h3>
<dl>
<dt>February 28</dt>
<dd>Bootstrap IV, Theatre La Balsamine</dd>
</dl>


<h2>Exhibitions</h2>

<h3>2012</h3>

<dl>
<dt>November 6-18</dt>
<dd>Visual Grammar, MAD Brussels</dd>
</dl>
</div>
{% endblock %}

