{% extends 'base.html' %}

{% block content %}
<div id="active-projects">
    <script>
    // $('#active-projects').masonry({
    //   itemSelector: '.project'
    // });
    </script>

    {% for repo in repos %}
    <div class="project">
    <p class="project-type">{% if repo.category %}<a href="{% url osp.views.category repo.category %}">{{ repo.category }}</a>{% else %}&nbsp;{% endif %}</p>

        <h2 class="project-title">
            <a href="{{ repo.web_path }}">{{ repo.name }}</a>
        </h2>

        <div class="iceberg">
            {% for ice in repo.iceberg reversed %}
                <a href="/{{ repo.category }}/{{ repo.name }}/tree/master/iceberg/{{ ice.name }}">
                    <link rel="embed" href="{{vc_url}}{{ repo.slug }}/{{ice.hex}}?width=200">
            </a>
            {% endfor %}
        </div>

        {% include "commit-list.html" %}
        
    </div>
    {% endfor %}

</div>
{% endblock %}
