{% extends "project_base.html" %}

{% block vc_content%}
<ul id="tree" class="thumbnails{% if root %}  root{% endif %}">
{% for dir in tree.dirs %}
    <li>
        <div class="thumbnail folder">
            <div class="thumb">
                <a href="{{ dir.href }}">
                <img src="{{ STATIC_URL }}img/folder-130.png" alt="representation of a folder" title="" style="height:104px;width:130px;" />
            </a>
            </div>
            <h5><a href="{{ dir.href }}">{{ dir.name }}</a></h5>
        </div>
    </li>
{% endfor %}
{% for file in tree.files %}
    <li>
        <div class="thumbnail preview">
            <div class="thumb">
            <a href="{{ file.href }}">
                    {% if 'image/' in file.mime or file.mime == 'application/pdf' %}
                    <img src="/visual/{{ repo.slug }}/{{file.hex}}/width..140/{{ file.name }}.png"/>
                    {% else %}
                    <img src="/static/img/OSP_new-frog.png" />
                    {% endif %}
            </a>
            </div>
            <h5><a href="{{ file.href }}">{{ file.name }}</a></h5>
            <p>{{ file.mime }}</p>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock %}
