@import "reset.less";
@import "mixins.less";

// size variables -------------------------------------------------------

@h-unit: 20px;
@v-unit: 15px;

// utility classes ------------------------------------------------------

.hide {
  display: none;
}
.show {
  display: inherit;
}

.invisible {
  visibility: hidden;
}

.column-count(@colcount: 0) {
  -moz-column-count: @colcount;
  -webkit-column-count: @colcount;
  column-count: @colcount;
}

.columnx2 {
    .column-count(2);
}
.columnx3 {
    .column-count(3);
}

// font sizes variables -------------------------------------------------

@font-size-micro: 7px;
@font-size-mini: 9px;
@font-size-small: 12px;
@font-size-medium: 15px;
@font-size-big: 21px;
@font-size-huge: 25px;
@font-default: "lmroman"; 


// colors variables -------------------------------------------------

@color-background: white;
@color-text: black;
@color-link: black;
@color-author: yellow;
@color-author-said-gauche: #b8d37a;
@color-author-said-droite: #87bcea;
@color-message: lightblue;
@color-date: #AFEEEE;
@dawn-sky: #ed3aff; 
@dawn-earth: #ffdd83;
@day-sky: #0e4d81;
@day-earth: #48a9ed;
@dusk-sky: #dc2800;
@dusk-earth: #dc2800;
@night-sky: #320070;
@night-earth: #9b4e9e;

// fonts -------------------------------------------------

@font-face {
    font-family: lmitalic;
    src: url("../fonts/lmroman10-italic.otf");
}

@font-face {
    font-family: lmroman;
    src: url("../fonts/lmroman10-regular.otf");
}

@font-face {
    font-family: 'NotCourierSans';
    src: url('../atfont-face/notcouriersans-bold-webfont.eot');
    src: url('../atfont-face/notcouriersans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../atfont-face/notcouriersans-bold-webfont.woff') format('woff'),
         url('../atfont-face/notcouriersans-bold-webfont.ttf') format('truetype'),
         url('../atfont-face/notcouriersans-bold-webfont.svg#NotCourierSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'NotCourierSans';
    src: url('../atfont-face/notcouriersans-webfont.eot');
    src: url('../atfont-face/notcouriersans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../atfont-face/notcouriersans-webfont.woff') format('woff'),
         url('../atfont-face/notcouriersans-webfont.ttf') format('truetype'),
         url('../atfont-face/notcouriersans-webfont.svg#NotCourierSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// default -------------------------------------------------

body {
    font-family: @font-default; 
    font-size: @font-size-medium; 
    line-height: @h-unit;
    color: @color-text;
    background-color: @color-background;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    padding: 1em;
}

// typography ----------------------------------------------

p {
    margin: 0;
    margin-bottom: @h-unit;
}
a, a:visited {
    color: @color-link;
}
a:hover {
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

dt {
    letter-spacing: 0.05em;
    font-family: lmroman; 
    font-size: @font-size-small;
}
li {
    list-style: none;
    list-style-type: none;
}
h1{
    font-size: @font-size-huge; 
    color: @color-text;
    font-weight: normal;
    line-height: 2 * @v-unit - 2px;
    margin-bottom: 1em;
    margin-top: 1em;
    clear: both;
    text-transform: uppercase;
} 
h2{
    font-size: @font-size-big; 
    color: @color-text;
    font-weight: normal;
    line-height: @v-unit - 2px;
    margin-bottom: 1em;
}

// active pieces -------------------------------------------------

#active-projects {
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    left: 2em;
    padding: 1em;
    margin-top: 2em;
    margin-left: @v-unit;
}
#active-projects,
#project-detail {
    .clearfix;
    width: auto;
    // make it minimally 3 columns wide
    min-width: 4 * 20px + 3 * 250px;
    // and let it not bump into the menu
    padding-right: 165px;
    position: absolute;

    #project-detail-readme,
    #project-detail-iceberg,
    #project-detail-commits,
    #project-detail-files {
        position: absolute;
        padding: 2em;
        margin: 15px;
    }
    #project-detail-files {
        background: rgba(224, 255, 255, 0.9);
        width: 100%;
        z-index: 10;
    }
    #project-detail-iceberg {
        background: rgba(255, 255, 224, 0.9);
        width: 85%;
        z-index: 20;
        top: 4em;
        left: 4em;
    }
    #project-detail-commits {
        background: rgba(127, 255, 212, 0.9);
        width: 75%;
        z-index: 30;
        top: 2 * 4em;
        left: 2 * 4em;
    }
    #project-detail-readme {
        background: rgba(255, 255, 255, 0.9);
        width: 600px;
        z-index: 40;
        top: 3 * 4em;
        left: 3 * 4em;

        img {
            max-width: 100%;
        }
    }
}

// project box -------------------------------------------------

.project{
    float: left;
    width: 315px;
    margin-right: @v-unit;
    margin-bottom: @h-unit;
    min-height: 300px;
/*
background: -moz-linear-gradient(left, #ffffff 37%, #ffa73d 48%, #ff7c00 54%, #ffffff 63%); 
background: -webkit-gradient(linear, left top, right top, color-stop(37%,#ffffff), color-stop(48%,#ffa73d), color-stop(54%,#ff7c00), color-stop(63%,#ffffff)); 
background: -webkit-linear-gradient(left, #ffffff 37%,#ffa73d 48%,#ff7c00 54%,#ffffff 63%); 
background: -o-linear-gradient(left, #ffffff 37%,#ffa73d 48%,#ff7c00 54%,#ffffff 63%); 
background: -ms-linear-gradient(left, #ffffff 37%,#ffa73d 48%,#ff7c00 54%,#ffffff 63%);
background: linear-gradient(left, #ffffff 37%,#ffa73d 48%,#ff7c00 54%,#ffffff 63%); 
*/
}
.project-type{
    text-transform: uppercase;
    font-size: @font-size-medium; 
    text-align: center; 

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
.project-title{
    font-size: @font-size-big;  
    text-align: left; 
    margin-bottom: 20px;
    margin-left: 10px;
    line-height: 0.9;
    letter-spacing: -0.03em;
    font-weight: normal;
    text-decoration: underline;
}
.project-description-from-the-readme{
    font-size: @font-size-medium;  
    text-align: left; 
    margin-bottom: 2 * @h-unit;
    letter-spacing: -0.03em;
    font-weight: normal;
}


// iceberg pictures -------------------------------------------------

.iceberg{
    margin-right:15px;
//     background:green;
}
.iceberg-pict{
//     border: solid 1px gray;
    width: 70px;
}
.iceberg-pict-big{
//     border: solid 1px gray;
    width:250px;
    }
    
    
// commits -------------------------------------------------
 
.commit-list{
      background-size: 1px 1px;
      background-position: 100px 0,0 0;
      background-repeat:repeat-y;
      background-image: -webkit-linear-gradient(left, transparent, transparent 0px, black 1px); 
    a, a:visited, a:active {
        color: #005580;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
.grappe (@t: 5px, @r: 5px,@b: 5px,@l: 5px) {
    border: solid 1px;
    padding : @t  @r @b @l;
    margin-bottom: -1px;
    margin-right: -1px;   
}
.ellipse {
    clear: both;
    width: 5px; 
    margin: auto; 
    margin-left: 36px;
    border-left: 1px solid black;
}
.commit  {
    padding: 6px 0;
    border-top: 1px dotted aquamarine;
    p {
        margin-bottom: 0;
    }
}
.commit-metadata {
    margin-left: 5em;
}
.commit-author-said {
    margin-left: 7px;
}
.commit-message{
    font-size: 19px;
    line-height: 24px;
}
.commit-date {
    margin-top: 2px;
}


// project-detail -------------------------------------------------
h1#project-detail-title {
    float: left;
    margin-bottom: 0;
}
ul#project-detail-nav {
    margin-top: 1em;
    margin-right: 13em;
    text-align: center;

    li {
        display: inline;
        margin-left: 1em;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

div#project-detail .iceberg,
div#project-detail .commit-list {
    float: left;
    margin-right: 20px;
}
div#project-detail-head h1.repo_slug {
    float: left;
}
a.git-clone {
    background: none repeat scroll 0 0 #0000FF;
    color: #FFFFFF;
    display: inline-block;
    font-family: notcouriersans;
    font-weight: bold;
    margin-left: 1em;
    margin-top: 23px;
    padding: 8px;
    text-decoration: none;

    &:hover {
    }
}
div#project-detail-body {
    clear: both;
}
.project-detail-img-file {
    margin-top: 20px;
}
.project-detail-file-name{   
    font-family:lmroman; 
    font-size: 18px;  
    text-align: left; 
    font-weight: normal;
}
.project-detail-file-mime{
    font-family:lmroman; 
    font-size: 14px;  
    text-align: left; 
    font-weight: normal;
}

.project-detail-blob-size{   
    font-family:lmroman; 
    font-size: 14px;  
    text-align: left; 
    font-weight: normal;
}

// menu -------------------------------------------------

#menu-wrapper{
    width: 100%;
    .box-sizing(border-box);
    z-index: 100;
}
header {
    margin-left: 400px;
}

#menu {
    font-size: 14px;

	a {
	    text-decoration: none;
	}

	a:hover { 
	    color: blue; 
	} 

	li{
	    display: inline;
	    list-style: none;
	    font-family: @font-default;
	    margin-right: 1em;
	}
} 

#baseline {
    text-transform: none;
    font-family: @font-default;
    color:blue;
}

div#on-the-table {
    margin: 1em 0;
}
.status {
    background-color: blue;
    color: white;
    padding: 12px;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 20em;
    float: left;
    font-family: notcouriersans;
    font-weight: bold;
    font-size: 13px;
    a {
        color: #AFEEEE;
    }
}

// infos-box ------------------------------------------------

#home-infos{
    width: 350px;
    padding: @font-size-small;
    font-size: 13px;
    background-color: pink;
    font-family: NotCourierSans; 
    position: absolute;
    z-index: 1;
    &:hover {
        z-index: 100;
    }
    figure {
        display: inline-block;
    }
    img {
        max-width: 100%;
        display: block;
    }
}


// about page -------------------------------------------------
#about-general{
    width: 520px;
    margin-top: 20px;
    margin-left: 20px;
    height: 100%;
    font-family: @font-default; 
    font-size: @font-size-medium; 
    text-align: left; 
    color: @color-text; 
}
.contact{ 
    color: blue; 
}
.osp-about-texts{
    color: red; 
}
#about-members{
    float : left;
    width: 520px;
    margin-top: 20px;
    margin-left: 40px;
    font-family: @font-default; 
    font-size: @font-size-medium; 
    text-align: left; 
    color: @color-text; 
}

// pre-spaced text (code) -------------------------------------

pre, code {
    font-family: 'NotCourierSans';
    white-space: pre-wrap;
}

pre {
    margin-bottom: @h-unit;
}

// thumbnails -------------------------------------------------

.thumbnails {
    margin-left: -@v-unit;
    list-style: none;
    .clearfix();
}
.thumbnails > li {
    float: left;
    margin: 0 0 18px 20px;
    width: 140px;
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1;
}

// Images and captions
.thumbnail > img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

// breadcrumbs ------------------------------------------------

.breadcrumb {
    clear: both;
    font-family: notcouriersans;
}

.breadcrumb li {
    display: inline-block;
}

// modals -----------------------------------------------------

.close {
  float: right;
  text-shadow: 0 1px 0 rgba(255,255,255,1);
  font-size: @font-size-big;
  line-height: @v-unit;
  .opacity(20);
  &:hover {
    text-decoration: none;
    .opacity(40);
    cursor: pointer;
  }
}

// Recalculate z-index where appropriate
.modal-open {
  .dropdown-menu {  z-index: 2050; }
  .dropdown.open { *z-index: 2050; }
  .popover       {  z-index: 2060; }
  .tooltip       {  z-index: 2070; }
}

// Background
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: @color-author;
  #gradient > .radial(@color-author, @color-date);
  // Fade for backdrop
  &.fade { opacity: 0; }
}

.modal-backdrop,
.modal-backdrop.fade.in {
  .opacity(80);
}

// Base modal
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    max-height: 500px;
    overflow: auto;
    width: 560px;
    margin: -250px 0 0 -280px;
    background-color: @color-background;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.3);
    *border: 1px solid #999; /* IE6-7 */
    .border-radius(6px);
    .box-shadow(0 3px 7px rgba(0,0,0,0.3));
    .background-clip(padding-box);
    &.fade {
      .transition(e('opacity .3s linear, top .3s ease-out'));
      top: -25%;
    }
    &.fade.in { top: 50%; }
}
.modal-header {
    background-color: lighten(@color-author, 40%);
    padding: @v-unit @h-unit;
    border-bottom: 1px solid #eee;
}

// Body (where all modal content resises)
.modal-body {
    padding: @v-unit @h-unit;
}
// Remove bottom margin if need be
.modal-body .modal-form {
    margin-bottom: 0;
}

// Footer (for actions)
.modal-footer {
    padding: @v-unit @h-unit;
    margin-bottom: 0;
    background-color: lighten(@color-author, 40%);
    border-top: 1px solid #ddd;
    .border-radius(0 0 6px 6px);
    .box-shadow(inset 0 1px 0 @color-background);
    .clearfix();
    .btn {
        float: right;
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
    }
}

