{% extends "base.html" %}
{% block title %}Add Document noForm{% endblock %}
{% block js %}
/* javascript */

$(document).ready(function()
{
	var iw = $('#input-wrapper');
	var keyCount = 0;
	$('#add-key').on('click', function(e)
	{
		var key = $('<input type="text" />')
		var value = $('<textarea name="xxxx"></textarea>')
		var box = $('<p></p>')
		key.on('change', function(e){
			value.attr('name', key.val());
		});
		
		box.append(key);
		box.append(value);
		iw.append(box);
	});
	
	$('#add-doc').on('click', function(e){
		$('#root').submit();
	});
});

{% endblock %}
{% block content %}

<div id="root-box">
<form id="root" action="/disputio/add" name="root" method="POST">

<div id="input-wrapper">

</div>
<div id="add-key">Add Key</div>
<div id="add-doc">Add Document</div>

</form>
</div>

{% endblock %}