Django==1.4.20
Markdown==2.6.2
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.20
celery==3.1.18
django-appconf==1.0.1
django-celery==3.1.16
django-compressor==1.4
django-cors==0.1
kombu==3.0.26
pytz==2015.4
six==1.9.0
wsgiref==0.1.2
