  <p> These project views are all based on <a href="{{ HOST }}/tools/visualculture/">VisualCulture</a>.<br>We welcome you to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">study</a>
  these, <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">improve</a> them, to <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">redistribute copies</a>
  of them and <a href="http://en.wikipedia.org/wiki/Copyleft#Applying_copyleft">release your improvements</a>.</p>
