            <ul id="menu">
                <li><a href="{{ HOST }}/work/">Works</a></li>
                <li><a href="http://ospublish.constantvzw.org/foundry/">Foundry</a></li>
                <li><a href="{{ HOST }}/workshop/">Workshops</a></li>
                <li><a href="{{ HOST }}/tools/">Tools</a></li>
                <li><a href="http://ospublish.constantvzw.org/blog/">Blog</a></li>
                <li><a href="http://ospublish.constantvzw.org/images/">Images</a></li>
                <li><a href="http://ospublish.constantvzw.org/about">About</a></li>
                <li><a href="http://ospublish.constantvzw.org/contact">Contact</a></li>
                <li>
                    <object data="{{ STATIC_URL }}img/OSP_new-frog.svg" style="width:59px;height:67px;" type="image/svg+xml">
                        <img alt="A stylised image of a frog." style="width:59px;height:67px;" src="{{ STATIC_URL }}img/OSP_new-frog.png">
                    </object>
                    <a href="/">OSP,</a>
                    <p id="baseline">Graphic design caravan</p>
                </li>
                <li>
                UPCOMING
                </li>
                <li class='status'>
                Print party during <a href="http://fbsp2013.be/" target='_blank'>F B S P dinner</a>.
                ↪ 
                    <span class="date">Saturday 23/03/2013, Komplot, Brussels</span>
                </li>
                <li class='status'>
                Variable Loop #3 and afterwards OSP meet with guest <a href="http://www.lavillahermosa.com/" target='_blank'>La Villa Hermosa</a> (TBC). 
                ↪ 
                    <span class="date">Thursday 04/03/2013, 80 rue GallaitStraat, Brussels</span>
                </li>
            </ul>
