            <ul id="menu">
                <li><a href="{{ HOST }}/work/">Works</a></li>
                <li><a href="http://ospublish.constantvzw.org/foundry/">Foundry</a></li>
                <li><a href="{{ HOST }}/workshop/">Workshops</a></li>
                <li><a href="{{ HOST }}/tools/">Tools</a></li>
                <li><a href="http://ospublish.constantvzw.org/blog/">Blog</a></li>
                <li><a href="http://ospublish.constantvzw.org/images/">Images</a></li>
                <li><a href="http://ospublish.constantvzw.org/about">About</a></li>
                <li><a href="http://ospublish.constantvzw.org/contact">Contact</a></li>
                <li>
                    <object data="{{ STATIC_URL }}img/OSP_new-frog.svg" style="width:59px;height:67px;" type="image/svg+xml">
                        <img alt="A stylised image of a frog." style="width:59px;height:67px;" src="{{ STATIC_URL }}img/OSP_new-frog.png">
                    </object>
                    <a href="/">OSP,</a>
                    <p id="baseline">Graphic design caravan</p>
                </li>
               <li>
                UPCOMING
                </li>
                <li class='status'>
                Relearn: libre graphics summer school, <br/>26 → 30/08, <a href="http://osp.constantvzw.org/summer-school-2013" target="_blank">more&nbsp;info</a>.
                <br />↪ 
                <span class="date">Subscribe until 10<sup>th</sup> June, 12h00.</span>
                </li>
                <li class='status'>
                Get OSP latest news by subscribing to our <a href="http://osp.constantvzw.org/newsletter" target="_blank">newsletter</a>.
                </li>
            </ul>
