<ul id="menu">
  <a href="/">
    <li>
      <object data="{{ STATIC_URL }}img/OSP_new-frog.svg" style="width:59px;height:67px;" type="image/svg+xml">
          <img alt="A stylised image of a frog." style="width:59px;height:67px;" src="{{ STATIC_URL }}img/OSP_new-frog.png">
      </object><br>
        <em>Open Source Publishing</em>
    </li>
  </a>
    <br><br>
    <li><a href="{{ HOST }}/work/">Work</a></li>
    <li><a href="{{ HOST }}/foundry/">Foundry</a></li>
    <li><a href="{{ HOST }}/workshop/">Workshops</a></li>
    <!--<li><a href="{{ HOST }}/live/">Live</a></li>-->
    <li><a href="{{ HOST }}/tools/">Tools</a></li>
    <li><a href="http://ospublish.constantvzw.org/blog/">Blog</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/images/">Images</a></li>-->
    <li><a href="{{ HOST }}/about">info</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/contact">Contact</a></li>-->
</ul>
