<a href="/">
<svg id="logo" viewBox="0 0 60 60" style="width: 60px;">
    <use xlink:href="{{ STATIC_URL }}img/OSP_new-frog.svg#svg5365"></use>
</svg>
</a>
<ul id="menu">
    <li>
        <h1><a href="/">Open Source Publishing</a></h1>
    <br>
    </li>
    <li><a href="{{ HOST }}/tools/">Tools</a></li>
    <li><a href="{{ HOST }}/foundry/">Foundry</a></li>
    <li><a href="{{ HOST }}/workshop/">Workshops</a></li>
    <li><a href="{{ HOST }}/work/">Work</a></li>
    <!--<li><a href="{{ HOST }}/live/">Live</a></li>-->
    <li><a href="http://ospublish.constantvzw.org/blog/">Blog</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/images/">Images</a></li>-->
    <li><a href="{{ HOST }}/about">info</a></li>
    <!--<li><a href="http://ospublish.constantvzw.org/contact">Contact</a></li>-->
</ul>
