<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/osp/media/fonts/atfont-face.css">
        <link rel="stylesheet" type="text/css" href="/osp/media/fonts/UniversElse.css">
        <link rel="stylesheet/less" type="text/css" href="/osp/media/styles-start.less">
        <script src="/osp/media/js/jquery-1.7.2.min.js"></script>
        <script src="/osp/media/js/less-1.2.1.min.js"></script>
    </head>
    <body>
    <div class="navbar" style="margin-bottom:0;">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li><a href="/work/">Works</a></li>
                    <li><a href="http://osp.constantvzw.org/foundry/">Foundry</a></li>
                    <li><a href="/workshop/">Workshops</a></li>
                    <li><a href="/tools/">Tools</a></li>
                    <li><a href="http://osp.constantvzw.org/blog/">Blog</a></li>
                    <li><a href="http://osp.constantvzw.org/images/">Images</a></li>
                    <li><a href="http://osp.constantvzw.org/about">About</a></li>
                    <li><a href="http://osp.constantvzw.org/contact">Contact</a></li>
		    <li>
		        <object data="http://osp.constantvzw.org/pict/OSP_new-frog.svg" style="width:60px;height:60px;" type="image/svg+xml">
		            <img alt="A stylised image of a frog." style="width:60px;height:60px;" src="./pict/OSP_new-frog.png">
		        </object>
			<a href="http://osp.constantvzw.org/">OSP,</a>
			<p id="baseline">Graphic design caravan</p>
		    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block content %}{% endblock %}
    
    </body>
</html>
