{% extends "base.html" %}
{% block title %}{{ page }}{% endblock %}

{% block content %}

{% for repo in repos %}
<div class="project">
<div class="project-type"><a href="/osp/{{ repo.name }}/{{ repo.repo.head.tree.hex }}">{{ repo.name }}</a></div>
  
  
  
<div class="iceberg">
{% for cube in repo.iceberg %}
	<a href="/osp/{{ repo.name }}">
		<img src="/osp/{{ repo.name }}/{{ cube }}" />
	</a>
{% endfor %}
</div>

  <div id="commit-list" class="span4">
  {% for commit in repo.commits %}
	<div class="commit" >
	<!-- <p class="commit-id">
			{{ commit.hex }} 
		</p>-->
		<p>
			<span class="commit-author">{{ commit.author.name }}</span> <span class="commit-author-said">said</span>
		</p>
		<p class="commit-message">
			<a href="/osp/{{ repo.name }}/{{ commit.hex }}">{{ commit.message }}</a>
		</p>
		<p class="commit-date">{{ commit.commit_time|datetimeformat }}</p>
	</div>
  {% endfor %}
  </div>
</div>
{% endfor %}

{% endblock %}